@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Open Sans , Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
}
nav {
    display:flex;
    width: 100%;
    position: fixed;
    z-index: 9999;
    align-items: center;
    background:  rgb(220, 10, 45);
    border-bottom: solid;
    
}
nav h1{
    font-size: 1.2rem;
    color: blanchedalmond;
}
nav ul{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    
    

}
nav ul li {

   padding: 1.5rem;
   
   
}
nav ul li a{
    text-decoration: none;
    color: blanchedalmond;
}
nav img {
    width: 3rem;
}

header{
   width: 100%;
  
    
}
header img {
    width: 100%;
    margin-top: 5rem;
}
header h1 {
    font-size: 3rem;
    font-family: Open Sans , Arial;
}

main{
    margin: 5rem 0 10rem 0;
}
section#cadastro {
    display: flex;
    justify-content: space-around;

}
section#cadastro div{
    width: 60%;
}
section#cadastro img{
    width: 40rem;
}

#cadastro h2{
    width: 50%;
    margin:10rem 2rem 2rem 10rem ;
    font-size: 2rem;
    background: yellow 2rem 2rem ;
    border: solid;
    border-radius: 3rem;
    padding: 1.2rem;
    
    
}
#cadastro #cadastro__form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    
    margin-left: 10rem;
}

#cadastro #cadastro__form label{

    margin: 2rem 0 0 0 ; 
    height: 2rem;
    font-weight: bold;
    
}
#cadastro #cadastro__form input{
    
    margin: 0;
    height: 2rem;
    padding:  0 .9rem;
    border-radius: 2rem;
    box-shadow: .2rem .8rem .5rem;
    font-size: 1.1rem;
    outline: none;
    
    
}
section#cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem 0 6rem 0;

    
}
section#cards h2{
    width: 100%;
    text-align: center;
    padding: 3rem 0 1rem 0;
}
section#cards div.card {
    
    width: 15rem;
    height: 37rem;
    background-color: gainsboro;
    text-align: center;
    margin-right: 2rem;
    margin-top: 3rem;
    border: solid grey;
    box-shadow: 10px 15px 10px grey;
}
section#cards div.card img {
    width: 100%;
}
section#cards div.card p{
    padding: 1rem;
}
section#cards div.card a {
 
    
    width: 100%;
    border: solid;
    padding: .8rem;
    border-radius: 3rem;
    background-color: rgb(0, 89, 255);
    font-size: 1.rem;
    font-weight: bold;
    color: blanchedalmond;
    text-decoration: none;
}
section#cards div.card a:hover{
    transform: scale(1.2);
    transition: .4s ease-in-out;
    background: rgb(0, 89, 255);
    color: rgb(218, 218, 218);
    text-decoration: none;

}



div p {
    margin:  1rem 0  1rem 0;
    font-weight: bold ;
    font-size: 1.2rem;
}
#btnCadastrar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    height: 3rem;
    width: 40%;
    border-radius: 3rem;
    background-color: rgb(220, 10, 45);
    font-size: .9rem;
    font-weight: bold;
    color: blanchedalmond;
    
}
#btnCadastrar:hover{
    transform: scale(1.2);
    transition: .4s ease-in-out;
  

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgb(220, 10, 45) ;
    width: 100%;
    height: 5rem;


}
footer p {
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 600;
}